body {
  font-family: 'Helvetica Neue LT GEO';
}
.s-1 {
  background-color: $main-color3;

  & > .container {
    @extend %container;
    text-align: center;

    & > .content {
      padding-top: 90px;

      & > a > img {
        margin-bottom: 56px;

        @media (max-width: $other-break) {
          width: 45px;
          height: 45px;
          margin-bottom: 25px;
        }
      }

      & > h5 {
        color: $main-color1;
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 26px;
        font-family: Helvetica;

        @media (max-width: $smart-break) {
          font-size: 32px;
        }

        @media (max-width: $other-break) {
          font-size: 28px;
          margin-bottom: 21px;
          color: #d1ebeb;
        }
      }

      & > h6 {
        color: $main-color1;
        font-size: 30px;
        font-family: Helvetica;
        margin-bottom: 60px;

        & > a {
          color: $main-color1;
          text-decoration: underline;

          @media (max-width: $other-break) {
            color: #d1ebeb;
          }
        }

        @media (max-width: $smart-break) {
          font-size: 25px;
        }

        @media (max-width: $other-break) {
          width: 235px;
          margin: 0 auto;
          font-size: 18px;
          color: #d1ebeb;
        }
      }

      @media (max-width: $other-break) {
        background-color: $main-color1;
        padding-bottom: 23px;
      }
    }

    & > .forms {
      width: 620px;
      margin: 0 auto;

      & > form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & > input[type="email"] {
          width: 600px;
          font-size: 26px;
          padding: 13px 10px;
          border: none;
          border-radius: 10px;
          outline: none;
          margin-bottom: 30px;

          @media (max-width: $smart-break) {
            width: 500px;
            margin-bottom: 20px;
          }

          @media (max-width: 550px) {
            width: 380px;
          }

          @media (max-width: $other-break) {
            width: 334px;
            margin-bottom: 28px;
            font-size: 20px;
          }

          @media (max-width: 350px) {
            width: 270px;
          }
        }

        & > input[type="password"] {
          width: 600px;
          font-size: 26px;
          padding: 13px 10px;
          border: none;
          border-radius: 10px;
          outline: none;
          margin-bottom: 20px;

          @media (max-width: $smart-break) {
            width: 500px;
          }

          @media (max-width: 550px) {
            width: 380px;
            margin-bottom: 30px;
          }

          @media (max-width: $other-break) {
            width: 334px;
            margin-bottom: 18px;
            font-size: 20px;
          }

          @media (max-width: 350px) {
            width: 270px;
          }
        }

        & > #email_error {
          margin-top: 20px;
          width: 490px;
          font-size: 20px;
          color: #db4437;
          display: none;
          margin-bottom: 14px;

          @media (max-width: $smart-break) {
            width: 300px;
            font-size: 15px;
          }

          @media (max-width: 320px) {
            width: 200px;
            font-size: 14px;
          }
        }

        & > .forgot-pass {
          & > a > p {
            font-size: 18px;
            color: $main-color1;
            text-decoration: underline;
            margin-bottom: 25px;
            margin-left: 400px;

            @media (max-width: 776px) {
              margin-left: 270px;
            }

            @media (max-width: 570px) {
              margin-left: 310px;
              font-size: 16px;
              margin-bottom: 18px;
            }

            @media (max-width: 550px) {
              margin-left: 200px;
            }

            @media (max-width: 450px) {
              margin-left: 140px;
            }

            @media (max-width: 350px) {
              margin-left: 80px;
              margin-bottom: 30px;
            }
          }
        }

        & > input[type="submit"] {
          width: 440px;
          margin: 0 auto;
          background-color: $main-color1;
          color: white;
          font-size: 20px;
          border: none;
          border-radius: 10px;
          padding: 10px;
          margin-bottom: 56px;
          cursor: pointer;

          @media (max-width: $smart-break) {
            width: 340px;
          }

          @media (max-width: 550px) {
            width: 220px;
          }

          @media (max-width: $other-break) {
            width: 211px;
            margin-bottom: 42px;
          }

          @media (max-width: 350px) {
            width: 170px;
          }
        }

        & > input::placeholder {
          color: #27536b;
        }
      }

      @media (max-width: $smart-break) {
        width: 530px;
        margin: 0 auto;
      }

      @media (max-width: 565px) {
        width: 500px;
      }

      @media (max-width: 550px) {
        width: 380px;
      }

      @media (max-width: $other-break) {
        width: 330px;
        margin-top: 42px;
      }

      @media (max-width: 350px) {
        width: 270px;
        margin-top: 42px;
      }
    }

    @media (max-width: $other-break) {
      width: 100%;
    }
  }
}
